<!DOCTYPE html>
<html>
    <head>
        <title>
             VIDEO
        </title>
        <style>
            .circularimage{
                width: 100%;
            }

        </style>

    </head>

    <body>
<br><br><br>
        <center>
            <video width="520" height="340" controls>
                <source src="../static/uploads/crimevideos/{{ path }}" type="video/mp4">
            <source src="../static/uploads/crimevideos/{{ path }}" type="video/webm">
            <source src="../static/uploads/crimevideos/{{ path }}" type="video/ogg">

              </video>
            
        </center>




    </body>
</html>